.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  padding: 0 1rem;
}

.contact-section .section-container {
  width: 100%;
  max-width: 1000px;
}

.contact-section .section-container .header-container {
  text-align: left;
}

.contact-section .section-container .header-container h2 {
  font-family: "Sono", monospace;
  font-size: 24px;
  font-weight: 500;
  color: #e0e7ff;
  margin: 0;
}

.contact-section .section-container .header-container p {
  color: #a5b4fc;
  font-size: 20px;
  margin: 0;
  padding-top: 15px;
}

.contact-section .section-container .container {
  border: 1px solid #484b5b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10rem;
  border-radius: 6px;
  padding: 2rem 3rem;
  margin-top: 1rem;
}

.contact-section .section-container .container .email-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.contact-section .section-container .container .email-container .email {
  border: 1px solid #484b5b;
  padding: 0 5rem;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.contact-section .section-container .container .email-container .email h3 {
  font-family: "Sono", monospace;
  font-size: 16px;
  font-weight: 400;
  color: #e0e7ff;
}

.contact-section .section-container .container .email-container .email:hover {
  background-color: #0c0c0c;
}

.contact-section .section-container .container .email-container .email .copied-message {
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.contact-section .section-container .container .soical-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  padding: 0;
}

.contact-section .section-container .container .soical-media ul li {
  list-style: none;
}

.contact-section .section-container .container .soical-media ul li a svg {
  width: 33px;
  height: 33px;
}

.contact-section .section-container .container .soical-media ul li a .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 1024px) {
  .contact-section {
    padding: 0 4.5rem;
    height: 60vh;
  }
  .contact-section .section-container .container {
    gap: 5rem;
    padding: 1.5rem 2rem;
  }
  .contact-section .section-container .container .email-container .email {
    padding: 0 3rem;
  }
}

@media (max-width: 768px) {
  .contact-section .section-container .container {
    gap: 1.5rem;
    padding: 1.5rem;
  }
  .contact-section .section-container .email-container .email {
    padding: 0 2rem;
  }
  .contact-section .section-container .header-container h2 {
    font-size: 22px;
  }
  .contact-section .section-container .header-container p {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .contact-section {
    padding: 0 1rem;
  }
  .contact-section .section-container .header-container h2 {
    font-size: 1.25rem;
  }
  .contact-section .section-container .header-container p {
    font-size: 14px;
  }
  .contact-section .section-container .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
  }
  .contact-section .section-container .container .email-container .email {
    padding: 0 4rem;
  }
  .contact-section .section-container .container .soical-media ul {
    gap: 2rem;
  }
  .contact-section .section-container .container .soical-media ul li a svg {
    width: 28px;
    height: 28px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-family: "Poppins", serif;
}

footer h3 {
  color: #686868;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

@media (max-width: 480px) {
  footer h3 {
    font-size: 12px;
  }
}
/*# sourceMappingURL=contact.css.map */