.three-d-container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    img {
      width: 200px;
    }
    .codepen,
    .web {
      transform: translateY(-50%);
      opacity: 0.5;
      // animation: float 5s ease-in-out infinite;
    }
    .codepen {
      animation: float 18s ease-in-out infinite;
      animation-delay: 15s;
    }
    .web {
      animation: float 20s ease-in-out infinite;
      animation-delay: 5s;
    }
    .github {
      transform: translateY(50%);
      opacity: 0.5;
      animation: float 22s ease-in-out infinite;
      animation-delay: 10s;
    }
  }

  // Media Queries
  @media (max-width: 1200px) {
    // padding: 0rem 4rem;
    // border: 1px dashed white;
    height: 30vh;
    .container {
      gap: 10rem;
      img {
        width: 150px;
      }
    }
  }
  @media (max-width: 768px) {
    // padding: 5rem 5rem 3rem 5rem;;
        // border: 1px dashed white;
    .container {
      gap: 7rem;
      img {
        width: 120px;
      }
      .codepen,
      .web, .github {
        opacity: 1;
      }
    }
  }
  @media (max-width: 480px) {
    // border: 1px dashed white;
    visibility: hidden;
    height: 0;
    .container {
      gap: 4rem;
      img {
        width: 80px;
      }
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(-70px) translateX(-20px); // Slight leftward drift
  }
  25% {
    transform: translateY(-30px) translateX(10px); // Moves slightly right
  }
  50% {
    transform: translateY(10px) translateX(20px); // Peak movement down & further right
  }
  75% {
    transform: translateY(-30px) translateX(10px); // Moves back left
  }
  100% {
    transform: translateY(-70px) translateX(-20px); // Back to start position
  }
}
